@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arbeit';
  src: url('/public/fonts/Arbeit-Variable.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
