@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arbeit';
  src: url('/fonts/Arbeit-Variable.ttf') format('truetype');
  font-weight: 400 500 600 700;
  font-style: normal;
}

.font-arbeit {
  font-family: 'Arbeit', sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
