html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.radial-gradient {
  background: radial-gradient(
      47.96% 79.31% at 49.97% 50%,
      rgba(1, 12, 19, 0) 0%,
      rgba(1, 12, 19, 0.25) 100%
    ),
    linear-gradient(0deg, rgba(1, 12, 19, 0.1) 0%, rgba(1, 12, 19, 0.1) 100%),
    linear-gradient(180deg, rgba(1, 12, 19, 0.75) 0%, rgba(1, 12, 19, 0) 44.11%),
    linear-gradient(177deg, rgba(1, 12, 19, 0) 27.27%, #010c13 87.19%);
}
