html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.fluid-container {
  @apply ~py-12/32 ~px-4/12 max-w-[1700px] mx-auto w-full;
}

.fluid-container-x {
  @apply ~px-4/12;
}

/* For Video Element */
.radial-gradient {
  background: radial-gradient(
      47.96% 79.31% at 49.97% 50%,
      rgba(1, 12, 19, 0) 0%,
      rgba(1, 12, 19, 0.25) 100%
    ),
    linear-gradient(0deg, rgba(1, 12, 19, 0.1) 0%, rgba(1, 12, 19, 0.1) 100%),
    linear-gradient(180deg, rgba(1, 12, 19, 0.75) 0%, rgba(1, 12, 19, 0) 44.11%),
    linear-gradient(177deg, rgba(1, 12, 19, 0) 27.27%, #010c13 87.19%);
}

.text-gradient {
  background-image: linear-gradient(90deg, #a4e3fe 0%, #1d3bff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  padding-bottom: 20px; /* Adjust as needed */
  font-family: 'Arbeit', sans-serif;
}

/* For logo carousel */
.carousel-gradient {
  background: linear-gradient(180deg, #010C13 0%, rgba(1, 12, 19, 0.10) 47.5%, #010C13 100%);
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%); /* Adjust to match the number of items visible in the carousel */
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite; /* Adjust the time for faster/slower autoplay */
}